{% extends "base.html" %}

{% block title %}
Регистрация - Agrowatcher
{% endblock %}

{% block body %}

    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1 class="text-center">Регистрация</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Basic -->
    <div class="ex-form-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="text-box mt-5 mb-5">
                        <p class="mb-4">Заполните поля ниже для регистрации. Уже есть аккаунт? <a class="blue" href="{{ url_for('auth.login') }}">Войти</a></p>

                        <!-- Sign Up Form -->
                        <form>
                            <div class="mb-4 form-floating">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Email адрес</label>
                            </div>
                            <div class="mb-4 form-floating">
                                <input type="text" class="form-control" id="floatingInput2" placeholder="Your name">
                                <label for="floatingInput">Ваше имя</label>
                            </div>
                            <div class="mb-4 form-floating">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Пароль</label>
                            </div>
                            <div class="mb-4 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Я согласен с <a href="{{ url_for('misc.privacy') }}">Политикой конфиденциальности</a> и <a href="{{ url_for('misc.terms') }}">Условиями использования</a></label>
                            </div>
                            <button type="submit" class="form-control-submit-button">Зарегистрироваться</button>
                        </form>
                        <!-- end of sign up form -->

                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->

{% endblock %}