frontend/src/assets/scripts/bootstrap.min.js linguist-vendored
frontend/src/assets/scripts/purecounter.min.js linguist-vendored
frontend/src/assets/scripts/replaceme.min.js linguist-vendored
frontend/src/assets/styles/animate.min.css linguist-vendored
frontend/src/assets/styles/fontawesome-all.min.css linguist-vendored
frontend/src/assets/styles/swiper.css linguist-vendored
