app/static/css/bootstrap.min.css linguist-vendored
app/static/css/fontawesome-all.min.css linguist-vendored
app/static/css/styles.css linguist-vendored
app/static/css/swiper.css linguist-vendored

app/static/js/bootstrap.min.js linguist-vendored
app/static/js/purecounter.min.js linguist-vendored
app/static/js/replaceme.min.js linguist-vendored
app/static/js/swiper.min.js linguist-vendored
app/static/js/scripts.js linguist-vendored
