<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- SEO Meta Tags -->
        <meta name="description" content="The Agrowatcher project">
        <meta name="author" content="Team Twisted">

        <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
        <meta property="og:site_name" content="Agrowatcher" /> <!-- website name -->
        <meta property="og:site" content="" /> <!-- website link -->
        <meta property="og:title" content="{% block og_title %}Agrowatcher{% endblock %}"/> <!-- title shown in the actual shared post -->
        <meta property="og:description" content="{% block og_description %}The Agrowatcher project{% endblock %}" /> <!-- description shown in the actual shared post -->
        <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
        <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
        <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

        <!-- Webpage Title -->
        <title>{% block title %}Agrowatcher{% endblock %}</title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/swiper.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

        <!-- Favicon  -->
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    </head>
    <body data-bs-spy="scroll" data-bs-target="#navbarExample">
        {% block body %}{% endblock %}
        <!-- Scripts -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>  <!-- Bootstrap framework -->
        <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script>  <!-- Swiper for image and text sliders -->
        <script src="{{ url_for('static', filename='js/purecounter.min.js') }}"></script>  <!-- Purecounter counter for statistics numbers -->
        <script src="{{ url_for('static', filename='js/replaceme.min.js') }}"></script>  <!-- ReplaceMe for rotating text -->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>  <!-- Custom scripts -->
    </body>
</html>